@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fecdd3;
}

h1 {
  text-align: center;
}
.container {
  width: 50%;
  display: block;
  margin: auto;
}

p {
  color: #7f1d1d;
  text-align: center;
}

input,
label {
  width: 100%;
  margin: 0.7rem;
  font-weight: bold;
}

input {
  padding: 0.7rem;
  border-radius: 0.5rem;
}
button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.8rem 2.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fda4af;
  font-weight: bold;
  font-size: 0.9rem;
}
#output-box {
  margin-top: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
